* {
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-image: url(../images/Hp_desk.jpg);
}
#divArrow {
    display: flex;
    width: 70vw;
    height: 16vh;
    align-items: flex-end;
}
#BackArrow {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    height: 75px;
    width: auto;
}
#formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    row-gap: 15px;
    font-size: 40px;
    width: 400px;
    height: fit-content;
    backdrop-filter: invert(65%);
    border-radius: 20px;
}
#formTitre {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
input {
    display: flex;
    align-content: center;
    height: 30px;
    width: 290px;
    font-size: 25px;
}
button {
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
}
